*{
    margin: 0;
}

body {
    background-color: hsl(0,0%,8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Inter;
}

.container {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    height: 420px;
    width:275px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

#av {
    height: 25%;
    display: block;
    margin: 15px;
} 

.text {
    text-align: center;
}

h3 {
    color: white;
    font-weight: 700;
}

h6 {
    color: hsl(75, 94%, 57%);
    font-weight: 500;
    font-size: 12px;
    margin: 5px;
}

p{
    color: white;
    font-size: 12px;
    margin: 10px 0px;
}

a {
    background-color: hsl(0, 0%, 20%);
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}