html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    background-color: hsl(30, 54%, 90%);
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    margin: 50px;
    font-family: 'Outfit';
    color: hsl(24, 5%, 18%);
}

h1, h2{
    font-family: 'Young Serif';
}
p{
    font-size: 15px;
}

.eggpic{
    width: 100%;
    margin-bottom: 2%;
    border-radius: 8px;
}

h1{
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 10px;
}

h2{
    color:hsl(14, 45%, 36%);
    margin: 5px;
}
h3{
    margin: 0;
    color:hsl(332, 51%, 32%);
}
.prep{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 8px;
    padding: 20px;
}

.prep li {
    color: hsl(332, 51%, 32%);
    padding-left: 10px;
}

.preplist{
    color: hsl(30, 10%, 34%);
}

.instructionlist{
    padding-left: 15px;
    color: hsl(14, 45%, 36%);
    padding-top: 5px;
}

.instructtext {
    color: hsl(30, 10%, 34%);
    margin-top: 0;
}

.instructspan{
    font-weight: 700;
}

.prepspan{
    font-weight: 700;
}

.nutrivalues{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutristats {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.ingredientlist li{
    color: hsl(14, 45%, 36%);
    margin-left:0px;
    list-style-position: outside;
    padding-left: 15px;
    margin-bottom: 5px;
}

@media (max-width: 375px){
    .container{
        width: 100%;
        border-radius: 0px;
        margin: 0;
        padding: 0px;
    }
    .innercontainer{
        padding:0px 20px 20px 20px;
    }
    .eggpic{
        width: 100%;
        border-radius: 0;
    }
}